@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@200;400;600;900&display=swap');
:root {
  --background-color: #5f5f5f;
  --text-a-color:#ffffff;
  --text-b-color:#d0db97;
}

*{
  font-family: 'Noto Serif TC', serif;
  /* font-family: Arial, Helvetica, sans-serif; */
}
